html, body {
    width: 100%;
    height: 100%;
    margin: 0;

#display {
    height: 20%;
    width: fit-content;
    background: #D9AE7C;
    padding: 40px 40px 80px 40px;
    
    #display-inner {
        height: 100%;
        padding: 20px;
        background: black;
        border-radius: 20px;
    }
}

.digit-wrapper {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1.8;
    display: inline-block;

    div {
        position: absolute;
        box-sizing: border-box;
    }

    .vert {
        width: 20%;
        height: calc(100% * 4/9);

        .inner {
            width: 92%;
            height: 98%;
            top: 1%;
            left: 4%;
            clip-path: polygon(50% 0%, 0% 11.5%, 0% 88.5%, 50% 100%, 100% 88.5%, 100% 11.5%, 50% 0%);
            background-color: red;
        }
    }

    .horiz {
        width: 80%;
        height: calc(100% * 1/9);

        .inner {
            width: 98%;
            height: 92%;
            top: 4%;
            left: 1%;
            clip-path: polygon(0% 50%, 11.5% 0%, 88.5% 0%, 100% 50%, 88.5% 100%, 11.5% 100%, 0% 50%);
            background-color: red;
        }
    }

    .top {
        top: 0;
        left: 10%;
    }

    .top-left {
        top: calc(100% * 1/18);
        left: 0;
    }

    .top-right {
        top: calc(100% * 1/18);
        right: 0;
    }

    .middle {
        top: calc(100% * 4/9);
        left: 10%;
    }

    .bottom-left {
        top: 50%;
        left: 0;
    }

    .bottom-right {
        top: 50%;
        right: 0;
    }

    .bottom {
        bottom: 0;
        left: 10%;
    }
}

.digit-0 {
    .middle {
        .inner {
            background: #222;
        }
    }
}

.digit-1 {
    .top,.top-left,.middle,.bottom-left,.bottom {
        .inner {
            background: #222;
        }
    }
}

.digit-2 {
    .top-left,.bottom-right {
        .inner {
            background: #222;
        }
    }
}

.digit-3 {
    .top-left,.bottom-left {
        .inner {
            background: #222;
        }
    }
}

.digit-4 {
    .top,.bottom-left,.bottom {
        .inner {
            background: #222;
        }
    }
}

.digit-5 {
    .top-right,.bottom-left {
        .inner {
            background: #222;
        }
    }
}

.digit-6 {
    .top-right {
        .inner {
            background: #222;
        }
    }
}

.digit-7 {
    .top-left,.middle,.bottom-left,.bottom {
        .inner {
            background: #222;
        }
    }
}

/* nothing for 8 since we show all segments */

.digit-9 {
    .bottom-left {
        .inner {
            background: #222;
        }
    }
}

.minus {
    .top,.top-left,.top-right,.bottom-left,.bottom-right,.bottom {
        .inner {
            background: #222;
        }
    }
}

.none {
    .top,.top-left,.top-right,.middle,.bottom-left,.bottom-right,.bottom {
        .inner {
            background: #222;
        }
    }
}